.signup-outter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  cursor: default;
}


.signup-form {
  width: 740px;
  height: 630px;
  border-radius: 8px;
  border: 1px solid #dadce0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #dadce0;
}

.create-acc-container {
  width: 380px;
  height: 500px;
  padding: 20px 10px 10px 20px;
}

.signup-img {
  width: 300px;
  height: 500px;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.signup-img img {
  width: 244px;
  height: 244px;
}

.cga {
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  padding: 16px 0px 4px 10px;
  margin-top: 20px;
  color: #1a73e8;
}

.cty {
  padding: 8px 0px 0px 10px;
  margin-bottom: 30px;
}

.signup-fields {
  height: 250px;
  padding: 30px 10px 10px 10px;
}

.signup-fields input {
  font-size: 14px;
  height: 35px;
  padding: 6px, 8px;
}

.signup-fields input:focus {
  border: 2px solid #1a73e8;
}

.signup-fields-labels label {
  padding: 5px;
  display: inline-block;
}

.username-field {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
}

.email-field {
  display: inline-block;
}

.password-field {
  display: inline-block;
  padding-bottom: 20px;
}

.password-field::after {
  content: "Use 8 or more characters with a mix of letters, numbers & symbols";
  display: block;
  font-size: 11.5px;
  color: #5f6368;
  margin-left: 10px;
  margin-top: 7px;
}

.sign-in-instead {
  color: #1a73e8;
  text-decoration: none;
}

.signup-btn {
  float: right;
  width: 60px;
  height: 35px;
  background: #1b73e7;
  color: #fff;
  outline: none;
  cursor: pointer;
}

  .signup-btn:hover {
    background: #105cbf;
  }