.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    form {
    //   height: 390px;
    //   width: 320px;
      width: 450px;
      height: 500px;
      border-radius: 8px;
      border: 1px solid #dadce0;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 48px 40px 36px;
      
      .create-acc-container {
          width: 360px;
          height: 520px;

          .cga {
            margin-top: 30px;
            font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3333;
            padding: 16px 0px 4px;
          }

          .cty {
              padding: 8px 0px 0px;
              margin-bottom: 40px;
          }
      }
    }

    label {
      padding: 5px;
      display: inline-block;
    }
    button {
      color: #fff;
      background-color: #1a73e8;
      position: inherit;
      top: 50%;
      height: 30px;
      width: 70px;
      text-rendering: auto;
      margin: 10px;
      margin-left: 150px;
      margin-top: 100px;
      cursor: default;
      text-shadow: darkblue;
    }

    button:hover {
      background-color: #105cbf;
      box-shadow: 1px 1px 1px #1a73e8;
  }
  }

  .sign-in-instead {
      color: #1a73e8;
      text-decoration: none;
  }

  .username-field {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 10px;
  }

  .email-field {
      display: inline-block;
  }

  .password-field {
      display: inline-block;
      padding-bottom: 20px;
  }