.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    form {
      height: 390px;
      width: 320px;
      background: rgb(240, 240, 240);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    label {
      padding: 5px;
      display: block;
    }
    button {
      color: #fff;
      background-color: #1a73e8;
      position: inherit;
      top: 50%;
      height: 48px;
      transform: translateY(-50%);
      padding: 5px;
      margin: 10px;
    }
  }

  .sign-in-instead {
      color: #1a73e8;
  }