.login-outter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  cursor: default;
}


.login-form {
  height: 450px;
  width: 400px;
  border: 1px solid #dadce0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #dadce0;
}

.login-container {
  width: 350px;
  height: 400px;
}


.login-container input:focus {
  border: 2px solid #1a73e8;
}

.si {
  display: block;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  color: #1a73e8;
  padding: 13px 0px 0px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.tcty {
  padding: 8px 0px 0px;
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  text-align: center;
  margin-bottom: 30px;
}

.login-container input {
  margin: 5px 2px 2px 2px;
  padding: 12px 14px;
  width: 330px;
  outline: none;
}

.login-fields {
  height: 200px;
  padding-top: 20px;
}

.login-fields label {
  padding: 5px;
  display: inline-block;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.login-buttons button {
  width: 70px;
  height: 90%;
  color: #fff;
  background-color: #1b73e7;
  cursor: pointer;
  outline: none;
  border: none;
}

.login-buttons button:hover {
  background: #105cbf; 
}

.create-acc-link {
  color: #1a73e8;
  text-decoration: none;
}

.create-acc-link:hover {
  color: #0d53ae;
}

.demo-btn {
  position: absolute;
  // top: 56%;
  top: 514px;
  width: 70px;
  height: 35px;
  color: #fff;
  background-color: #1b73e7;
  cursor: pointer;
  outline: none;
  border: none;
}