// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-show-outter {
  height: 100vh;
  border: 3px solid red;
}





.video-show-player {
  display: flex;
  position: relative;
  // left: 250px;
  top: 7%;
  // padding-left: 100px;
  // padding-right: 150px;
  padding-left: 10%;
  padding-right: 15%;
  width: 100%;
  height: 50%;
}

