// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Only video show page CSS
.video-show-outter {
  height: 100vh;
  width: 100vw;
  background: #191919;
  display: flex;
}

.video-show-sidebar {
  width: 100%;
  z-index: 9999;
  // border: 2px solid white;
  display: grid;
  grid-template-columns: 15% 68% 17%;
}

.video-show-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8%;
  width: 100%;
  max-height: 92%;
  overflow: scroll;
  // border: 2px solid red;
  padding-top: 1%;
  padding-left: 2%;
  // align-items: center;
}



.video-show-sugg {
  width: 100%;
  height: 90%;
  // border: 2px solid white;
  position: relative;
  top: 8%;
  padding-top: 1%;
  display: block;
}

.video-show-content video {
  width: auto;
  height: 60%;
  // border: 2px solid white;
}



// .video-show-player {
//   display: flex;
//   // position: relative;
//   // left: 250px;
//   // top: 7%;
//   // margin-left: 10px;
//   // margin-bottom: 20px;
//   width: 65%;
//   max-width: 75%;
//   min-width: 300px;
//   height: 45%;
//   border: 1px solid;
//   box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
// }

// .video-show-player video {
//   width: auto;
// }
