// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Only video show page CSS
.video-show-outter {
  min-height: 100vh;
  width: 100vw;
  background: #191919;
}


.video-show-player {
  display: flex;
  position: relative;
  left: 250px;
  top: 7%;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 65%;
  max-width: 75%;
  min-width: 300px;
  height: 45%;
  border: 1px solid;
  box-shadow: 5px 5px 5px rgba(255,255,255,0.2);
}

