// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-show-outter {
  height: 100vh;
}


.video-show-player {
  display: flex;
  position: relative;
  left: 250px;
  top: 7%;
  margin-left: 10px;
  width: 75%;
  height: 45%;
}

