.home {
  display: flex;
  background-color: #191919;
  // background-color: #f8f8ff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.home-items-container {
  // border: 2px solid blue;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.vid-container {
  width: 100%;
  // border: 3px solid blue;
  overflow: scroll;
  position: relative;
  top: 50px;
  max-height: 100%;
}

.vid-item {
  // border: 2px solid red;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 10px;
}


.video-wrapper {
  // width: 20%;
  // height: 242px;
  // display: inline-block;
  // padding-top: 25px;
  // position: relative;
  // left: 15%;
  // top: 50px;
  // margin-bottom: 40px;
  // margin-left: 15px;
  // justify-content: space-evenly;
  // flex-wrap: nowrap;
  // align-items: center;
  // cursor: default;
  // border: 2px solid red;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // display: grid;
  // grid-template-columns: 25% 25% 25% 25%;
  height: 300px;
}


.video-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 400px;
  height: 250px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.video-show-player-cont {
  width: 100%;
  height: 80%;
}

.video-player {
  // border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background: #191919;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2) 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.video-desc-container {
  // border: 1px solid red;
  height: 20%;
}

.desc {
  padding-left: 10px;
  color: #fff;
  margin-left: 10px;
  font-family: "Roboto", "Noto", sans-serif;
}
