.home {
  display: flex;
  background-color: #191919;
  // background-color: #f8f8ff;
  // width: 100%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.video-wrapper {
  width: 263px;
  height: 242px;
  display: inline-block;
  // padding: 10px;
  position: relative;
  left: 250px;
  top: 50px;
  margin-right: 150px;
  margin-bottom: 40px;
  margin-left: 1px;
  flex-wrap: nowrap;
  // justify-content: space-around;
  align-items: center;
  cursor: default;
}

.video-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.video-player {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 255px;
  height: 143px;
  background: #191919;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2) 15px 15px 15px rgba(0, 0, 0, 0.1);
  // inset -5px -5px 5px rgba(255,255,255,0.2)
  // inset 5px 5px 5px rgba(0,0,0, 0.1);
}

.desc {
  padding-left: 10px;
  color: #fff;
  margin-left: 10px;
  font-family: "Roboto", "Noto", sans-serif;
}
