.home {
    display: flex;
    // background-color: #191919;
    background-color: #f8f8ff;
    width: 100%;
    height: 100vh;
}

// @media screen and (max-width: 60%) {
//     div.home {
//         width: 50%;
//     }
// }

.video-wrapper {
    max-width: 75vw;
    display: inline-block;
    padding: 10px;
    // border: 2px solid blue;
    position: relative;
    left: 250px;
    top: 50px;
    margin-right: 80px;
    margin-left: 6px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.video-container {
    display: flex;
    flex-direction: column;
    // position: relative;
    border: 1px solid black;
}

.vid-player {
    width: 320px;
    height: 180px;
    border: 1px solid pink;
}
