.home {
  display: flex;
  background-color: #191919;
  // background-color: #f8f8ff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.home-items-container {
  // border: 2px solid blue;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.vid-container {
  width: 100%;
  // border: 3px solid blue;
  overflow: scroll;
  position: relative;
  top: 50px;
  max-height: 100%;
}

.vid-item {
  // border: 2px solid red;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 10px;
}


.video-wrapper {
  // height: 300px;
  height: auto;
}


.video-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.video-player {
  // border: 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background: #191919;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2) 15px 15px 15px rgba(0, 0, 0, 0.1);
}

// .video-desc-container {
//   // border: 1px solid red;
//   height: 20%;
// }

.desc {
  padding-left: 10px;
  color: #fff;
  margin-left: 10px;
  height: 50px;
  font-family: "Roboto", "Noto", sans-serif;
}
