.home {
    display: flex;
    // background-color: #191919;

    width: 100%;
    height: 100vh;
}


@media screen and (max-width: 60%) {
    div.home {
        width: 50%;
    }
}

.vid {
    display: inline-block;
    // flex-direction: column;
    // margin-left: 250px;
    position: relative;
    left: 250px;
    border: 1px solid black;
    top: 100px;
}

.vid-player {
    width: 320px;
    height: 180px;
    border: 1px solid pink;
}
