
@media screen and (max-width: 600px) {
  header {
    float: none;
    width: 100%;
  }
}

.welcome {
  font-size: 20px;
  font-weight: 700;
  color: pink;
  margin: 10px;
}


.nav-curr-user {
  display: flex;
  height: 50px;
  justify-content: space-between;
  // background-color: #212121;
  background: #f8f8ff;
  position: fixed;
  width: 100%;
  border: 1px solid;
  z-index: 1000;
}

.navbar-menu {
  position: absolute;
  right: 10px;
  background: #f8f8f8;
  border: 1px solid rgba(156, 154, 154, 0.76);
  padding-top: 5px;
  width: 150px;
  text-align: left;
  height: 116px;
  top: 5vh;
  border-radius: 3px;
  transition: 0.2s;
  z-index: 1;
  display: block;
  justify-content: center;
  align-items: center;
}

.logout-btn {
    // background-color: #212121;
    background: transparent;
    color: #065fd4;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #3ea6ff;
    border-radius: 10px;
    text-align: left;
}

.fas.fa-sign-out-alt {
  margin: 0 10px 0 10px;
}

.nav-guest {
  display: flex;
  justify-content: space-between;
  height: 50px;
  // border: 1px solid rgb(101, 9, 9);
  border-bottom: 1px solid;
  // background-color: #212121;
  background: #f8f8ff;
  position: fixed;
  width: 100%;
}

.navbar-login-btn {
  // background-color: #212121;
  background: transparent;
  color: #065fd4;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #3ea6ff;
  border-radius: 10px;
  text-transform: uppercase;
}

.nav-profile-menu {
  // border: 2px solid red;
  display: flex;
  align-items: center;

}

.fas.fa-user-circle {
  font-size: 2rem;
  color: #689f39;
  background: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.fab.fa-youtube {
  background: #fff;
  color: red;
  font-size: 24px;
  border: 1px solid black;
}

.navbar-signin {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-top: 3px;
}

.fas.fa-user-circle.signin.navbar {
  color: #065fd4;
  font-size: 18px;
  margin-right: 4px;
}