
// .nav-bar {
//   display: flex;
//   justify-content: space-between;
//   padding: 20px;
//   background: white;
//   align-items: center;
//   .btn {
//     background-color: white;
//     padding: 10px;
//     box-shadow: 1px 1px 1px lightslategray;
//     text-decoration: none;
//     border: 1px groove;
//   }
//   .btn:hover {
//     background-color: rgb(240, 240, 240);
//     box-shadow: 1px 1px 1px darkblue;
//   }
// }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  .logo {
    img {
      width: 80px;
      color: #ffff;
    }
  }
  .btn {
    background-color: #212121;
    color: #3ea6ff;
    padding: 10px;
    box-shadow: 1px 1px 1px #3ea6ff;
    text-decoration: none;
    border: 1px #3ea6ff;
  }
  .btn:hover {
    background-color: #0e1012;
    box-shadow: 1px 1px 1px darkblue;
  }
}

.welcome {
  color: white;
}
