li {
  padding: 10px 0;
}

button {
  font-size: 30px;
  margin-right: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: left;
}

.navBar {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.show-nav {
  height: 120px;
}


.img {
  width: 20px;
  height: 20px;
}
