
@media screen and (max-width: 600px) {
  header {
    float: none;
    width: 100%;
  }
}

.welcome {
  font-size: 20px;
  font-weight: 700;
  color: pink;
  margin: 10px;
}


.nav-curr-user {
  display: flex;
  height: 50px;
  justify-content: space-between;
  // background-color: #212121;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.logout-btn {
    background-color: #212121;
    color: #3ea6ff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #3ea6ff;
    border-radius: 10px;
}

.nav-guest {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid rgb(101, 9, 9);
  // background-color: #212121;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

// .nav-logo-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .nav-guest img {
//   width: 80px;
//   height: 80%;
// }

.navbar-login-btn {
  background-color: #212121;
  color: #3ea6ff;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #3ea6ff;
  border-radius: 10px;
}

.nav-profile-menu {
  border: 2px solid red;
  display: flex;
  align-items: center;

}

.fas.fa-user-circle {
  font-size: 2rem;
  color: #689f39;
  background: transparent;
  border-radius: 25px;
  cursor: pointer;
}

.fab.fa-youtube {
  background: #fff;
  color: red;
  font-size: 24px;
  border: 1px solid black;
}

