
.search-bar-form {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
}

.search-bar-btn {
  background-color: #323232;
  color: grey;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  transition-duration: 0.3s;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-input {
  width: 350px;
  height: 34px;
  background-color: #131313;
  color: white;
  outline: none;
}

.search-bar-btn:hover {
  background-color: rgb(40, 34, 34);
  color: white;
}

