
.search-bar-form {
  display: flex;
  justify-content: center;
  margin: 7px;
}

.search-bar-btn {
  // background-color: #323232;
  background-color: #f8f8f8;
  width: 65px;
  color: grey;
  border: 1px solid;
  border-radius: 0 2px 2px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  cursor: pointer;;
}

.fas.fa-search {
  font-size: 12px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-input {
  width: 350px;
  height: 34px;
  // background-color: #131313;
  background-color: transparent;
  font-family: 'Roboto','Noto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  border: 1px solid;
  border-radius: 0 2px 2px 0;
  padding: 1px 2px;
}

.search-input{
  width: 350px;
  height: 34px;
  // background-color: red;
  background-color: transparent;
  font-family: 'Roboto','Noto',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  border: 1px solid;
  border-radius: 0 2px 2px 0;
  padding: 1px 2px;
}


.search-bar-btn:hover {
  background-color: #606060;
  color: white;
  outline: none;
}

