.nav-bar {
  background-color: #212121;
  color: #131313;
}

.search-bar-btn {
  background-color: #323232;
  color: rgba(9, 9, 9, 0.927);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 10px;
  border-radius: 2px;
  transition-duration: 0.3s;

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

}
.header-search {
  width: 581px;
  height: 34px;
  background-color: black;
}

.search-bar-btn:hover {
  background-color: rgb(40, 34, 34);
  color: white;
}


form {
  display: flex;
  // align-items: center;
  justify-content: center;
}