.btn {
    background-color: #212121;
    padding: 10px;
    // box-shadow: 1px 1px 1px #3ea6ff;
    border: 1px #3ea6ff;
    border-radius: 10px;
    color: #3ea6ff;
    text-decoration: none;
  }
  // .btn:hover {
  //   background-color: rgb(240, 240, 240);
  //   box-shadow: 1px 1px 1px darkblue;
  // }

  .error-render {
    display: block;
    .err-msg {
      list-style-type: none;
      align-items: flex-start;
      color: #d93025;
      font-size: 12px;
    }
  }
