.btn {
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 1px lightslategray;
    text-decoration: none;
    border: 1px groove;
  }
  .btn:hover {
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 1px darkblue;
  }


  .error-render {
    display: block;
    .err-msg {
      list-style-type: none;
      color: red;
    }
  }
