.comments-index-outter {
  height: 100%;
  // position: relative;
  // top: 10%;
  // left: 270px;
  width: 99%;
  min-width: 500px;
  justify-content: center;
  // display: flex;
  // flex-direction: column;
  // overflow: auto;
  display: block;
  outline: none;
}

.comments-index-video-show {
  // border: 2px solid blue;
  height: 100%;
  width: 98%;
  position: relative;
  top: 0%;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

.comments-index-author {
  // border: 1px solid red;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 1em;
  font-style: italic;
  // color: #909090;
  color: #4767e9;
  
}

.comments-index-body {
  // border: 1px solid blue;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 90%;
  padding: 0 5px 0 5px;
  font-size: 1em;
  color: #fff;
}

.like-comment {
  // border: 1px solid red;
  width: 200px;
  margin-left: 5px;
  margin-top: 7px;
  padding: 0 5px 0 2px;
}

.like-comment-amount {
  color: #909090;
  font-size: 17px;
  margin-left: 7px;
}

.like-comment button {
  background: transparent;
  border: none;
  outline: none;
  // box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

.fas.fa-thumbs-up {
  color: #909090;
  font-size: 16px;
  cursor: pointer;
}

.fas.fa-thumbs-up:hover {
  color: #dadada;
  // background: transparent; 
}
