.comments-form {
  display: flex;
  // position: relative;
  height: 100px;
  max-width: 100%;
  border: 2px solid greenyellow;
}



.comments-outter {
  display: flex;
  position: relative;
  // top: 70px;
  top: 10%;
  left: 10%;
  padding-left: 10%;
  padding-right: 15%;
  max-width: 75%;
  height: 40%;
  border: 2px solid black;
}

