
.comments-form-outter {
  // min-width: 40%;
  width: 100%;
  display: flex;
  // position: relative;
  height: 15%;
  // top: 10%;
  // left: 275px;
  padding-right: 2%;
  padding-top: 1%;
  // max-width: 75%;
  align-items: center;
  margin-left: 5px;
}


.comments-form {
  // display: flex;
  // position: relative;
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

.comments-form-container {
  width: 100%;
}
.comments-form-input {
  box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
  width: 100%;
  height: 35px;
  background: transparent;
  outline: none;
  color: #fff;
}

.comments-form-btn {
  float: right;
  width: 101px;
  height: 30px;
  text-transform: uppercase;
  color: #272727;
  background: #606060;
  border: none;
  outline: none;
  cursor: pointer;
}

.comments-form-btn:hover {
  color: #212121;
  background: #3da7ff;
}