.comments-index-outter {
  height: 40%;
  position: relative;
  top: 10%;
  left: 270px;
  width: 60%;
  min-width: 500px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: block;
<<<<<<< HEAD
  outline: none;
=======
  font-family: "Roboto", sans-serif;
>>>>>>> likes
}

.comments-index-video-show {
  // border: 2px solid blue;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  padding-bottom: 5px;
<<<<<<< HEAD
  box-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

.comments-index-author {
  // border: 1px solid red;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
  font-weight: 700;
  font-size: 1em;
  font-style: italic;
  color: #909090;
  
}

.comments-index-body {
  // border: 1px solid blue;
  margin-left: 5px;
  max-width: 90%;
  padding: 0 5px 0 5px;
  font-size: 1.2em;
  color: #fff;
  // border: 1px solid black;
}
=======
}
>>>>>>> likes
