.comments-index-outter {
  border: 2px solid red;
  height: 40%;
  position: relative;
  top: 10%;
  left: 10%;
  width: 75%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  // overflow: auto;
  display: block;
  font-family: "Roboto", sans-serif;
}

.comments-index-video-show {
  border: 2px solid blue;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0%;
  padding-bottom: 5px;
}
