/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


 @import './api/nav_bar/nav_bar.scss';
 @import './api/search/search-bar.scss';
 @import './api/base/fonts.scss';
 @import './api/home/home.scss';
 @import './api/sidebar/sidebar.scss';
 @import './api/errors/errors.scss';
 @import './api/forms/login.scss';

* {
  box-sizing: border-box;
}

 html, body, div {
   padding: 0;
   margin: 0;
   font-family: 'Roboto', 'Noto', sans-serif;
 }



// .nav-bar {
//   display: flex;
//   justify-content: space-between;
//   padding: 20px;
//   background: white;
//   align-items: center;
//   .btn {
//     background-color: white;
//     padding: 10px;
//     box-shadow: 1px 1px 1px lightslategray;
//     text-decoration: none;
//     border: 1px groove;
//   }
//   .btn:hover {
//     background-color: rgb(240, 240, 240);
//     box-shadow: 1px 1px 1px darkblue;
//   }
// }

 .signup-form {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 90vh;
   justify-content: center;
   align-items: center;
   form {
     height: 390px;
     width: 320px;
     background: rgb(240, 240, 240);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   label {
     padding: 5px;
     display: block;
   }
   button {
     color: #fff;
     background-color: #1a73e8;
     position: inherit;
     top: 50%;
     height: 48px;
     transform: translateY(-50%);
     padding: 5px;
     margin: 10px;
   }
 }

//  .create-acc {
//   //  color: #fff;
//    color: #1a73e8;
//   //  background-color: #1a73e8;
//    position: inherit;
//   //  top: 50%;
//    height: 25px;
//    transform: translateY(-50%);
//    padding: 15px;
//    margin: 10px;
//    z-index: 1;
//  }

//  .login-form {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 90vh;
//   justify-content: center;
//   align-items: center;
//   form {
//     height: 300px;
//     width: 300px;
//     background: rgb(240, 240, 240);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   label {
//     padding: 5px;
//     display: block;
//   }
//   button {
//     display: block;
//     padding: 5px;
//     margin: 10px;
//   }
// }