.sidebar {
    display: flex;
    background-color: #212121;
    width: 300px;
    height: 900px;
    position: fixed;
    margin-top: 0;
    
}


.sideNav {
    color: #6d6d6d;
    list-style-type: none;
    padding-left: 0;
}

p {
    margin-left: 20px;
}

.btn-login {
    margin-left: 20px;
    font-size: 15px;
    background-color: #212121;
    color: #3ea6ff;
    padding: 10px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #3ea6ff;
    border: 1px solid #3ea6ff;
}

.link-login-btn {
    text-decoration: none;
    color: #3ea6ff;
}

li a {
    height: 25px;
    text-decoration: none;
    color: inherit;
    position: relative;
}

li:hover {
    background-color: white;
}

// .home-link a {
//     // height: 25px;
//     text-decoration: none;
//     color: inherit;
//     position: relative;
//     display: table-cell;
//     vertical-align: middle;
//     width: 14rem;
// }



// .home-link {
//     background-color: #212121;
//     color: #6d6d6d;
// }