.sidebar {
    display: flex;
    background-color: #212121;
    width: 400px;
    height: 900px;

    
}

.sideNav {
    color: #6d6d6d;
}

// .home-link {
//     background-color: #212121;
//     color: #6d6d6d;
// }